{% extends 'block__card_base_bo.html.twig' %}

  {% block filters_modal_content %}
    <div class="row">
      <div class="input-field col s12 m12 l6">
        {% if title %}
          <h5 class="title-core">{{ title }}</h5>
        {% endif %}
      </div>
      <div class="input-field col s12 m12 l6">
        <a class="right enterprise-modal-form waves-effect btn btn-primary" href="#{{ modal.href }}">{{ modal.label }}</a>
      </div>
    </div>
    <!-- Modal Structure -->
    <div id="{{ modal.href }}" class="modal">
      <h2>{{ 'Crear Empresa'|t }}</h2>
      <div class="modal-content">
        {% block modal_element %}
          {{ form }}
        {% endblock %}
      </div>
    </div>
  {% endblock %}

  {% block header_content_filters_card_detail %}
    {% block filter_header_form %}
      <form data-ng-submit="filterCompanies()">
    {% endblock %}
    <div class="row">
      {% block for_filters %}
        {% for filter in filters %}
          {{ widgets.validate_style( filter.label, filter, filter.class) }}
        {% endfor %}
      {% endblock %}
    </div>
    {% block validate_filters %}
      {% if filters is not empty %}
        <div class="row">
          <div class="col input-field s12 m12 l12">
            <button class="right waves-effect btn btn-primary" type="submit">{{'Aplicar'|trans}}</button>
            <input type="reset" value="limpiar" class="right btn btn-clear click-filter-reset">
          </div>
        </div>
      {% endif %}
    {% endblock %}
    </form>
  {% endblock %}

  {% block modal %}
  {% endblock %}

  {% block table_body_td %}
    <td ng-repeat="(key, enterprise) in compani">
      <div ng-if="key == 'status'" class="regular-cell">
        {[{enterprise == 1 ? 'Activo' : 'Inactivo'}]}
      </div>  
      <div ng-if="key != 'full_name' && key != 'status' && key != 'document_type'" class="regular-cell">
        {[{enterprise == null || enterprise == "" ? "No disponible" : enterprise}]}
      </div>
      
      <div ng-if="key == 'document_type'" class="regular-cell">  
          <span ng-if="enterprise == 'ci'">CI</span>
          <span ng-if="enterprise == 'nit'">NIT</span>                        
      </div>
     
      <div ng-if="key == 'full_name'" class="admin-cell">
        <ul class="block">
          <li ng-repeat="admin in enterprise track by $index">{[{admin}]}</li>
        </ul>
      </div>
    </td>
  {% endblock %}

  {% block other_content_data %}
  {% endblock %}
