{% extends 'block__card_base_bo.html.twig' %}

{% block filters_modal_content %}
{% endblock %}

{% block header_content_filters_card_detail %}
{% endblock %}

{% block message_exception %}
{% endblock %}

{% block table_body_td %}
{% endblock %}

{% block other_content_data %}
{% endblock %}

{% block header_data %}
  <div class="card-block block-invoice" infinite-scroll="loadMore()" infinite-scroll-distance="1">
    <div class="box-body">
      <div class="row no-pad">
        <div class="col s12 ">
          <div ng-class="wrapper-card">
            <div class="agent-title address">{{ title }}</div>
           
            <!-- SECTION CALL CENTER -->
            <div>
              <div class="card white clearfix invoice-content"> 
                <div class="col s12 m12 l12 xl12 content">
                  <div class="column-left col s12 m1 l1 xl1">
                    <div class="box-border">
                      <div class="left card-icon prefix icon-service">
                        <div class="icon-user-cyan">
                          <span class="path1"></span>
                        </div>                      
                      </div>    
                    </div>
                  </div> 
                  <div class="hide-on-med-and-down">
                    <div class="column-left col l2 xl2">
                      <div class="box-txt">                     
                          <h2 class="telefonia movil">{{call_title}}</h2>
                          {% if phone_call_show.show == 1 %}
                            <p class="agent-title-p">{{phone_call_show.label}}</p>
                            {% for phone in phone_call_number %}
                              <span class="agent-span">{{phone}}</span>
                            {% endfor %}
                          {% endif %}
                      </div>
                    </div>                           
                    <div class="column-left col l8 xl8">
                      <div class="box-border">                      
                        <div class="pd-top box-txt">                     
                          {% if schedule_call_show.show == 1 %}
                            <p class="agent-title-p">{{schedule_call_show.label}}</p>           
                            {% for schedule in schedule_call_time %}
                              <span class="agent-span">{{schedule}}</span>     
                            {% endfor %}
                          {% endif %}
                        </div>
                      </div>                
                    </div>
                  </div>
                  <div class="hide-on-large-only show-on-medium-and-down">
                    <div class="column-left col s6 m2">
                      <div class="box-txt">                     
                          <h2 class="telefonia movil">{{call_title}}</h2>
                          {% if phone_call_show.show == 1 %}
                            <p class="agent-title-p">{{phone_call_show.label}}</p>
                            {% for phone in phone_call_number %}
                              <span class="agent-span">{{phone}}</span>
                            {% endfor %}
                          {% endif %}
                      </div>
                    </div>                           
                    <div class="column-left col s6 m8">
                      <div class="box-border">                      
                        <div class="pd-top box-txt">                     
                          {% if schedule_call_show.show == 1 %}
                            <p class="agent-title-p">{{schedule_call_show.label}}</p>           
                            {% for schedule in schedule_call_time %}
                              <span class="agent-span">{{schedule}}</span>     
                            {% endfor %}
                          {% endif %}
                        </div>
                      </div>                
                    </div>
                  </div>
                </div>  <!--content-->
              </div>
            </div>
            <!-- END SECTION CALL CENTER -->

            <!-- SECTION EJECUTIVO COMERCIAL -->
            <div class="agent-section">
              <div class="card white clearfix"> 
                <div class="col s12 m12 l12 xl12 content invoice-content">
                  <div class="column-left col s12 m1 l1 xl1">
                    <div class="box-border">
                      <div class="left card-icon prefix icon-service">
                        <div class="icon-user-cyan">
                          <span class="path1"></span>
                        </div>                      
                      </div>    
                    </div>
                  </div>          
                  <div class="column-left col s12 m11 l11 xl11">
                    <div class="box-txt">                     
                        <h2 class="telefonia movil">{{agent_title}}</h2>
                    </div>
                  </div>
                  <div class="hide-on-med-and-down">
                    <div class="column-left col l11 xl11 no-pad-left">
                      {% if segment == 'Large' or segment == 'Medium' %}
                        {% if name_show.show == 1 %}
                          <div class="column-left col l3 xl3">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{name_show.label}}</p>           
                                <span class="agent-span">{{ name_agent }}</span>     
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                        {% if email_agent_show.show == 1 %}
                          <div class="column-left col l3 xl3">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{email_agent_show.label}}</p>           
                                <span class="agent-span email">{{email_agent}}</span>     
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                        {% if phone_agent_show.show == 1 %}
                          <div class="column-left col l2 xl2">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{phone_agent_show.label}}</p> 
                                {% for phone in phone_agent_number %}          
                                  <span class="agent-span">{{phone}}</span>   
                                {% endfor %}
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                        {% if schedule_agent_show.show == 1 %}
                          <div class="column-left col l2 xl2">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{schedule_agent_show.label}}</p> 
                                {% for schedule in schedule_agent_time %}
                                  <span class="agent-span">{{schedule}}</span>     
                                {% endfor %}
                              </div>
                            </div>                
                          </div>
                        {% endif %}                      
                        {% if send_mail.show == 1%}
                          <div class="column-left col l2 xl2">
                            <div class="box-border pd-top-mail">                      
                              <div class="box-txt">                
                                <a id="open-md" data-target="modalConfirm" class="agent-enviar-mail modal-trigger">{{send_mail.label}}</a>        
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                      {% else %}
                        {% if email_agent_show.show == 1 %}
                          <div class="column-left col l4 xl4">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{email_agent_show.label}}</p>           
                                <span class="agent-span email">{{email_agent}}</span>   
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                        {% if phone_agent_show.show == 1 %}
                          <div class="column-left col l2 xl2">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{phone_agent_show.label}}</p>  
                                {% for phone in phone_agent_number %}
                                  <span class="agent-span">{{phone}}</span>   
                                {% endfor %}
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                        {% if schedule_agent_show.show == 1 %}
                          <div class="column-left col l4 xl4">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{schedule_agent_show.label}}</p> 
                                {% for schedule in schedule_agent_time %}          
                                  <span class="agent-span">{{schedule}}</span> 
                                {% endfor %}
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                        {% if send_mail.show == 1 %}
                          <div class="column-left col l2 xl2">
                            <div class="box-border pd-top-mail">                      
                              <div class="box-txt">                     
                                <a id="open-md" data-target="modalConfirm" class="agent-enviar-mail modal-trigger">{{send_mail.label}}</a>       
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                  <div class="hide-on-large-only show-on-medium-and-down">
                    <div class="column-left col s12 m11 no-pad-left">
                      {% if segment == 'Large' or segment == 'Medium' %}
                        {% if name_show.show == 1 %}
                          <div class="column-left col s12 m3">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{name_show.label}}</p>           
                                <span class="agent-span">{{ name_agent }}</span>     
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                        {% if email_agent_show.show == 1 %}
                          <div class="column-left col s12 m3">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{email_agent_show.label}}</p>           
                                <span class="agent-span email">{{email_agent}}</span>     
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                        {% if phone_agent_show.show == 1 %}
                          <div class="column-left col s6 m2">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{phone_agent_show.label}}</p> 
                                {% for phone in phone_agent_number %}          
                                  <span class="agent-span">{{phone}}</span>   
                                {% endfor %}
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                        {% if schedule_agent_show.show == 1 %}
                          <div class="column-left col s6 m2">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{schedule_agent_show.label}}</p> 
                                {% for schedule in schedule_agent_time %}
                                  <span class="agent-span">{{schedule}}</span>     
                                {% endfor %}
                              </div>
                            </div>                
                          </div>
                        {% endif %}                      
                        {% if send_mail.show == 1%}
                          <div class="column-left col s12 m2">
                            <div class="box-border pd-top-mail">                      
                              <div class="box-txt">                
                                <a id="open-md" data-target="modalConfirm" class="agent-enviar-mail modal-trigger">{{send_mail.label}}</a>        
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                      {% else %}
                        {% if email_agent_show.show == 1 %}
                          <div class="column-left col s12 m4">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{email_agent_show.label}}</p>           
                                <span class="agent-span email">{{email_agent}}</span>   
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                        {% if phone_agent_show.show == 1 %}
                          <div class="column-left col s12 m2">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{phone_agent_show.label}}</p>  
                                {% for phone in phone_agent_number %}
                                  <span class="agent-span">{{phone}}</span>   
                                {% endfor %}
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                        {% if schedule_agent_show.show == 1 %}
                          <div class="column-left col s6 m4">
                            <div class="box-border">                      
                              <div class="box-txt">                     
                                <p class="agent-title-p">{{schedule_agent_show.label}}</p> 
                                {% for schedule in schedule_agent_time %}          
                                  <span class="agent-span">{{schedule}}</span> 
                                {% endfor %}
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                        {% if send_mail.show == 1 %}
                          <div class="column-left col s6 m2">
                            <div class="box-border pd-top-mail">                      
                              <div class="box-txt">                     
                                <a id="open-md" data-target="modalConfirm" class="agent-enviar-mail modal-trigger">{{send_mail.label}}</a>       
                              </div>
                            </div>                
                          </div>
                        {% endif %}
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div id="modalConfirm" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>{{ 'Enviar email'|trans }}</h4>
                    <div class="row pad-top">
                      <div class="col s12 m12 l12 xl12">
                        {{ form }}
                      </div>
                    </div>    
                </div>                    
                <div class="modal-footer support-agent">
                    <a href="#!" id="submitBtn" data-target="{{ formName }}" class="modal-action modal-close waves-effect waves-green btn-flat btn btn-primary">{{'Enviar'|trans}}</a>
                    <a href="#!" id="cancelBtn" class="modal-action modal-close waves-effect waves-green btn-flat btn-second ">{{ 'Cancelar'|trans }}</a>
                </div>
            </div>
            <!-- END SECTION EJECUTIVO COMERCIAL -->
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block header_content_table %}
{% endblock %}
