{% extends 'block__card_base.html.twig' %}

{% block header_content_table %}
{% endblock %}

{% block other_content_data %}
<div class="box-body">
  {% if launcher.show==1 %}
  <div class="row">
    <div class="col s12">
      <div class=" {{ class }}  card clearfix white">
        {% if launcher.title_show==1 %}
				  <h4 class="col s12  title-card">{{ launcher.title }}</h4>
			  {% endif %}
			  {% if launcher.description_show==1 %}
			    <div class="description col s12 m12">
						<p>{{ launcher.description }}</P>
					</div>
			  {% endif %}
				{% if launcher.btn_show==1 %}
			  <div class="col s12" >
				  <a class="waves-effect waves-light btn btn-second user-modal-form right segment-click" href="{{ launcher.url }}" ng-click="insertLog('{{ launcher.title }}')"
					data-segment-event="TBO - Transacción Launcher"
					data-segment-properties='{ "category":"Portafolio de Servicios","label": "{[{ launcherCategory }]} - {{launcher.title}}/{{ launcher.btn_name }}","site":"NEW"}'
				  >{{ launcher.btn_name }}</a>
			  </div>
					{% endif %}
		  </div>
	  </div>
  </div>
  {% endif %}

</div>
{% endblock %}