{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *
 * @ingroup themeable
 */
#}
{% import _self as menus %}

{%
set nav_classes = [
  'nav',
  menu_name == 'main' ? 'navbar-nav',
  menu_name == 'footer' ? 'nav-pills',
]
%}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}

{{ menus.menu_links(items, attributes.addClass(nav_classes), 0) }}

{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    {% if menu_level == 0 %}

<ul{{ attributes.addClass('menu-side collapsible') }} data-collapsible="accordion">
  {% else %}
  <ul class="submenu">
    {% endif %}
    {% for item in items %}
      {%
        set item_classes = [
          item.in_active_trail ? 'active',
          item.is_expanded ? 'expanded dropdown'
        ]
      %}
      <li{{ item.attributes.addClass(item_classes) }}>
        {% set doubleSpan = false %}
        {% for Iterator in item.attributes.class.getIterator %}
          {% if 'doubleSpan' in Iterator %}
            {% set doubleSpan = true %}
          {% endif %}
        {% endfor %}
        {% if menu_level == 0 and item.is_expanded %}
          <div class="collapsible-header no-padding ">
            <a  class="dropdown-toggle" data-toggle="dropdown" data-segment-event="TBO - Seleccionar opción Menú - Consulta" data-segment-properties='{"label":"{{ item.title }}","category":"Menú principal","site":"NEW"}' target="{{  item.url.getOption('attributes')['target'] }}">
              {{ item.title }}
              <i class=" prefix {{  item.url.getOption('attributes')['class'].0 }}">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </a>
          </div>
        {% else %}
          {% if item.title == "Móvil" or item.title == "Fijo" %}
            {% set product = (item.title == "Móvil") ? 'movil' : 'fijo' %}
            <a class="segment-click" data-segment-event="TBO - Seleccionar producto - Consulta" data-segment-properties='{"label":"{{ product }}","category":"Menú Factura","site":"NEW"}' href='{{ item.url }}' target="{{  item.url.getOption('attributes')['target'] }}">
          {% else %}
            <a class="segment-click" data-segment-event="TBO - Seleccionar opción Menú - Consulta" data-segment-properties='{"label":"{{ item.title }}","category":"Menú principal","site":"NEW"}' href='{{ item.url }}' target="{{  item.url.getOption('attributes')['target'] }}">
          {% endif %}
              {{ item.title }}
              <i class=" prefix {{  item.url.getOption('attributes')['class'].0 }}">
                <span class="path1"></span>
                <span class="path2"></span>
              </i>
            </a>
        {% endif %}
        {% if item.below %}
           <div class="collapsible-body no-padding">
              {{ menus.menu_links(item.below, attributes.removeClass('nav'), menu_level + 1) }}
           </div>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

    {% if items|length > 3 %}
      <div class="box-menu-mobile">
        <div class="swiper-container">
          <div class="swiper-wrapper">
              {% for item in items %}
                  {%
                  set item_classes = [
                  'swiper-slide',
                  item.in_active_trail ? 'active',
                  loop.last ? 'last-item',
                  loop.first ? 'first-item'
                  ]
                  %}
                <div {{ item.attributes.addClass(item_classes) }}>
                    {% if menu_level == 0 and item.is_expanded %}
                      <a href="{{ item.url }}" class="dropdown-toggle " data-toggle="dropdown">{{ item.title }}</a>

                      {% else %}
                          {{ link(item.title, item.url) }}
                    {% endif %}

                    {% if item.below %}
                        {{ menus.menu_links(item.below, attributes.removeClass('nav'), menu_level + 1) }}
                    {% endif %}
                </div>
              {% endfor %}
          </div>
        </div>
        <div class="swiper-degradee"></div>
      </div>
    {% endif %}

  {% endif %}
  {% endmacro %}
